In [1]:
import pandas as pd

In [2]:
bmtc_df = pd.read_parquet('dataset/BMTC.parquet.gzip')

In [3]:
bmtc_df.head()

       BusID   Latitude  Longitude  Speed           Timestamp
0  150212121  13.074558  77.445549    0.0 2019-08-01 07:00:02
1  150212121  13.074558  77.445549    0.0 2019-08-01 07:00:12
2  150212121  13.074558  77.445549    0.0 2019-08-01 07:00:22
3  150212121  13.074558  77.445549    0.0 2019-08-01 07:00:32
4  150212121  13.074558  77.445549    0.0 2019-08-01 07:00:42

In [4]:
bmtc_df['Latitude'].max(), bmtc_df['Latitude'].min()

(13.155129, 12.794401)

In [5]:
bmtc_df['Longitude'].max(), bmtc_df['Longitude'].min()

(77.788345, 77.418175)

In [6]:
input_df = pd.read_csv('dataset/Input.csv')

In [7]:
input_df.head()

   Unnamed: 0  Source_Lat  Source_Long   Dest_Lat  Dest_Long
0           0   12.941644    77.557335  12.942002  77.551605
1           1   12.845487    77.662079  12.845881  77.667892
2           2   12.973492    77.622871  12.957303  77.621246
3           3   12.819298    77.688995  12.814241  77.692986
4           4   12.973240    77.615402  13.016170  77.627800

In [8]:
input_df['Source_Lat'].min(), input_df['Source_Lat'].max()

(12.794401, 13.155079)

In [9]:
input_df['Source_Long'].min(), input_df['Source_Long'].max()

(77.418312, 77.788261)

In [14]:
lat_start, lat_end, lon_start, lon_end = 77.35, 77.85, 12.7, 13.8

In [18]:
for i in range(5):
    lat_add = i * 0.1
    for j in range(5):
        lon_add = j * 0.1
        print(lat_start + lat_add, lat_start + lat_add + 0.1, lon_start + lon_add, lon_start + lon_add + 0.1)

77.35 77.44999999999999 12.7 12.799999999999999
77.35 77.44999999999999 12.799999999999999 12.899999999999999
77.35 77.44999999999999 12.899999999999999 12.999999999999998
77.35 77.44999999999999 13.0 13.1
77.35 77.44999999999999 13.1 13.2
77.44999999999999 77.54999999999998 12.7 12.799999999999999
77.44999999999999 77.54999999999998 12.799999999999999 12.899999999999999
77.44999999999999 77.54999999999998 12.899999999999999 12.999999999999998
77.44999999999999 77.54999999999998 13.0 13.1
77.44999999999999 77.54999999999998 13.1 13.2
77.55 77.64999999999999 12.7 12.799999999999999
77.55 77.64999999999999 12.799999999999999 12.899999999999999
77.55 77.64999999999999 12.899999999999999 12.999999999999998
77.55 77.64999999999999 13.0 13.1
77.55 77.64999999999999 13.1 13.2
77.64999999999999 77.74999999999999 12.7 12.799999999999999
77.64999999999999 77.74999999999999 12.799999999999999 12.899999999999999
77.64999999999999 77.74999999999999 12.899999999999999 12.999999999999998
77.64999999999999 77.74999999999999 13.0 13.1
77.64999999999999 77.74999999999999 13.1 13.2
77.75 77.85 12.7 12.799999999999999
77.75 77.85 12.799999999999999 12.899999999999999
77.75 77.85 12.899999999999999 12.999999999999998
77.75 77.85 13.0 13.1
77.75 77.85 13.1 13.2